<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="js/ng-cordova.min.js"></script>
  <script src="cordova.js"></script>
  <script src="js/services.js"></script>
  <script src="js/app.js"></script>
</head>
<body ng-app="i-todo" ng-controller="task" ng-init="getTasks()">


<ion-pane>
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-minus-outline" ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
    </div>
    <h1 class="title" ng-click="getTasks()">Todo</h1>

    <div class="buttons">
      <button class="button button-icon" ng-click="openPopover($event)">
        <i class="icon ion-arrow-down-b"></i>
      </button>
      <button class="button button-icon" ng-click="openTaskFormModal()">
        <i class="icon ion-compose"></i>
      </button>

    </div>
  </ion-header-bar>
  <ion-content on-swipe-down="getTasks()">
    <ion-list show-delete="data.showDelete" show-option-button="1">
      <ion-item ng-repeat="task in tasks">
        <div class="pointer" ng-bind="task.title" ng-click="showTaskModal(task.id)"></div>
        <ion-delete-button class="ion-minus-circled" ng-click="confirmRemove(task.id)">
        </ion-delete-button>
        <ion-option-button class="button-assertive" ng-click="editTask(task.id)">
          Edit
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-pane>

<script id="task-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar-dark">
      <h1 class="title">Task detail</h1>
      <button class="button button-icon" ng-click="closeTaskModal()">
        <i class="icon ion-android-close"></i>
      </button>
    </ion-header-bar>
    <ion-content>
      <div class="list" style="margin-bottom: 5px">
        <div class="item" style="padding-right: 70px">
          <strong> <span ng-bind="task.title"></span></strong>
          <span class="item-toggle">
          <label class="toggle toggle-balanced">
            <input type="checkbox" ng-model="task.completed" ng-click="completeTask(task.id)" ng-true-value="1" ng-false-value="0">

            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </span>
        </div>
        <div class="item item-text-wrap" ng-hide="task.description == null">
          {{task.description}}
        </div>
      </div>
      <div class="buttons item-delete">
        <button title="Delete?" class="button button-icon icon ion-minus-circled ion-ios-minus-outline"  ng-click="confirmRemove(task.id,true)"> </button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
<script id="task-form-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar-dark">
      <h1 class="title">{{modalTitle}}</h1>
      <button class="button button-icon" ng-click="closeTaskFormModal()">
        <i class="icon ion-android-close"></i>
      </button>
    </ion-header-bar>
    <ion-content>
      <form name="taskForm" ng-submit="fTask.id ? updateTask(fTask.id) : createTask()" novalidate>
        <div class="list list-inset">
          <label class="item item-input">
            <input ng-model="fTask.title" type="text" placeholder="Task title" ng-minlength="5" required>
          </label>
          <label class="item item-input">
            <textarea ng-model="fTask.description" rows="5" placeholder="Task content"></textarea>
          </label>
          <ul class="list">
            <li class="item item-toggle">
              Completed?
              <label class="toggle toggle-balanced">
                <input type="checkbox" ng-model="fTask.completed" ng-true-value="1" ng-false-value="0">

                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </li>
          </ul>
          <button type="submit" class="button button-block button-positive" ng-disabled="taskForm.$invalid">{{modalButton}}</button>
        </div>
      </form>
    </ion-content>
  </ion-modal-view>
</script>

<script id="filter-popover.html" type="text/ng-template">
  <ion-popover-view style="height: 160px">
    <ion-content>
      <div class="list">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search" ng-change="filterTasks(query)" ng-model="query">
        </label>
        <a class="item pointer" ng-click="filterTasks(null, {completed: 1})" >
          <i class="icon ion-checkmark-round balanced"></i> Completed
        </a>
        <a class="item pointer"  ng-click="filterTasks(null, {completed: 0})" >
          <i class="icon ion-code-working"></i> Not Completed
        </a>
      </div>
    </ion-content>
  </ion-popover-view>
</script>
</body>
</html>
